* {
  box-sizing: border-box;
}

#page {
  background: url('./img/home.png');
  background-size: cover;
}

li {
  font-size: 20px;
  text-transform: lowercase;
  font-family: 'Glegoo';
}

nav li a {
  color: white;
  margin-top: -20px;
}

nav li a:hover {
  border-bottom: 1px solid white;
  overflow: hidden;
}

.navbar-toggler {
  border-color: rgb(255,102,203);
} 

.navbar-nav {
  padding-left: 50px;
}

.navbar-brand img {
  height: 200px;
  width: 200px;
}

.navbar-nav .open .dropdown-menu {
  background-color:#fff;
}

.segment {
  border-radius: 20px 20px 0px 0px;
  z-index: 99;
  margin-top: 218px;
  min-height: 100%;
  min-width: 100%;
  padding-bottom: 200px;
  background-color: white;
  overflow: hidden;
}

.container-fluid {
  padding: 0px !important;
}

.col-12 {
  padding-left: 50px;
}

.segment p {
  margin-bottom: 80px;
}

 .content .heading {
  color: violet;
  font-family: 'Comfortaa';
  font-size: 50px;
  font-weight: bold;
}

.content h3 {
font-family: 'Verdana';
color: white;
font-size: 28px;
width: 500px;
}

#desc {
  color: white;
  width: 500px;
}

#description {
  margin-top: 80px;
}

#about p {
  font-size: 20px;
  line-height: 30px;
  font-family: 'Glegoo';
}

hr {
  display: none;

}

.fas, .far, .fa-discord {
  padding-top: 0px;
  font-size: 60px !important;
}

.fa-discord {
  padding-left: 20px;
  margin-top: 5px;
  margin-bottom: -10px;
}
/* NOTIF */

.custom {
  margin-top: 40px;
}





.custom p {
  color: white;
  font-weight: 300;
  font-size: 15px;
  display: inline-block;
  padding-right: 30px;
  padding-top: 13px;
  padding-bottom: 15px;
  background-color: #495057;
}

.custom p span {
  text-transform: uppercase;
  font-weight: 500;
  padding-left: 30px;
  padding-right: 20px;
  padding-top: 16px;
  padding-bottom: 19px;
  margin-right: 20px;
  background-color: #343A40;
}

/* PORTFOLIO */
.portfoliotitle {
  display: inline-block;
  color: white;
  border-bottom: 5px solid white;
  border-right: 5px solid white;
  padding-right: 10px;
  border-radius: 5px;
  box-shadow: 10px 10px black;
  font-family: 'Glegoo';
}



.wrapping {
  display: inline-block;
  margin-bottom: 20px;
  box-shadow: 10px 10px black;
}

.pic img {
  height: 300px;
  width: 500px;
}

.caption {
  height: 100%;
  width: 100%;
  background-color: none;
  color: white;
  float: left;
  border-radius: 0px 10px 10px 0px;
}

#inspect {
  width: 200px;
  height: 40px;
  background: linear-gradient(to right, 
    #3827b0, #452db3, 
    #683ebd, #9052c8, 
    #a35bcd, #ba67d4);
  border: none;
  border-radius: 5px;
  color: white;
  transform: skewX(-12deg);
}

#inspecting {
  color: white;
  font-family: 'Comfortaa';
  text-align: center;
  font-size: 14px;
  transform: skewX(12deg);
}

.carousel-inner > .carousel-item > img {

width:100px; 
height:670px;
}

.carousel-item:after {
  content:"";
  display:block;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background:rgba(0,0,0,0.3);
}


.carousel-caption {
  margin: 10px;
}

.special {
  margin: 60px;
}

.carousel-caption h5 {
  color: white;
  font-size: 30px;
}

.mdl-js-textfield {
  width: 200px;
}

/* progress */

.skills {
  padding-top: 200px;

}

.card-title {
  color: black;
  border-bottom: 2px solid black;
  width: 160px;
}

.fab {
  font-size: 24px;
  margin-right: 20px;
  padding: none;
}

.skill span {
  margin-left: -9px;
}

.progress {
  margin-bottom: 20px;
}

/* CONTACT FORM */

.contact {
  width: 500px !important;
}

.contact-white {
  background-color: white;
}

.mdl-textfield__input {
  display: inline-block !important;
  width: 500px !important;
}

.main-button {
  right: 50%;
}

.drop {
  padding-top: 30px;
}

.contacthold {
  background-color: #23272a;
  border-radius: 5px;
  height: 200px;
  padding-top: 13px;
  margin-top: 100px;
  overflow: hidden;
}

.contacttext {
  color: white;
  padding-top: 15px;
  font-size: 60px !important;
}

.contact_ {
  color: white;
  font-size: 30px;
}

.fa-discord {
  font-size: 40px;
}

.fa-check {
  font-size: 20px !important; 
  position: relative;
  top: 4px;
  right: 5px;
}


/*  scrollbar */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: white; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #3827b0; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #452db3; 
}


/* BREAKPOINTS */

@media screen and (max-width: 576px) {
  
  .content h3 {
    display: inline;
    padding-bottom: 20px;
  }
  
  
  #desc {
    margin-top: 30px;
    width: 300px;
    display: inline-block;
  }

  .wrapping {
    width: 500px;
  }

  .pic img {
    min-width: 100%;
  }

  .wrapping {
    box-shadow: none;
  }

  .segment {
    margin-top: 50px;
    min-width: 100%;
    padding-bottom: 50px;
  }


  .card-title {
    margin: 0px;
    padding-top: 30px;
    width: 140px;
    font-size: 28px;
  }

  .mdl-textfield__input {
    width: 300px !important;
  }

  .contacthold {
    min-width: 103.4%;
   margin-top: 20px;
  }

  .navbar-brand img {
    width: 100px;
    height: 100px;
  }

  .navbar-brand {
    margin-bottom: 0px;
  }

  .contacthold {
    margin-left: -8px;
  }

  li {
    font-size: 20px;
    padding-top: 10px;
  }

  nav li a:hover {
    border-bottom: none;
  }

  .carousel-inner > .carousel-item > img {

    width: 70px; 
    height:400px;
    }

}